input {
  border: none;
  border-radius: 5px;
  padding: 20px;
  background: rgb(135, 231, 172);
  margin-bottom: 25px;
}
button {
  padding: 18px;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
